/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .user-profile {
    margin-bottom: 10px;
  }
  
  .user-profile img {
   height: 16,6%;
  }
  
  .user-profile p {
    font-style: italic;
  }
  
  .user-info {
    display: flex;
    gap: 5rem;
    border: 3px solid;
    width: 70%;
    margin-bottom: 1rem;
  }
  li {
display: flex;
gap: 5rem;
  }
h2 {
    margin-left: 1rem;
}
  h3 {
    margin: auto;
  }

  p {
    margin-right: 1rem;
    margin-top: 3rem;
    font-size: x-large;
  }
  .bio {
    display: flex;
    border: 3px solid;
  }
  .post {
    display: flex;
    gap: 5rem;
    border: 1px solid;
    width: 100%;
  }
  .pandh {
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
      } 
      .user {
        display: flex;
        gap: 5rem;
          }
.list {
    display: flex;
    flex-direction: column;
}